@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Alpha Admin Site</h1>
    <p>Learn about <a>An Admin site to take care of your projects.</a>.</p>
</div>
